<html>
	<head>
		<title>The Game You are missing</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body>
		<div id="container">
			<div id="content">
				<h1> Check out games you are missing, while your friends are falling love with </h1>
				<p> Your friends are playing those fantastic games, that we think you are most likely to be interested in. Type in your Steam ID and check them out</p>
			</div>
		</div>
		<div id="steamIDForm">
			<p>Please type in your 16-length Steam ID</p>
			<form action="/recom/submit" method="post">{% csrf_token %}
				Steam ID: <input type="text" name="steamID" value="{{ steamid }}"></br>
				<input type="submit" value="check out">
			</form>
		</div>
		{% block results %}
		{% endblock %}
		{% block error %}
		{% endblock %}
	</body>
</html>