{% extends 'recom/index.html' %}

{% block submit %}
{% if success %}
<header>
	<div class="container">
		<h2>We are digging out games you are missing on Steam</h2>
		<p>The processing time depends on game library of yours and your friends</br>Please take a minute break, then press the button below to check them out</br>Note: if no result is shown after pressing check-out button, please try to press it later because we are still processing your request.</p>
		<a href="{% url 'recom:result' %}" class="button scrolly">Check Out</a>
	</div>
</header>
{% else %}
<header>
	<div class="container">
		<h2>Oops, we cannot process your Steam profile</h2>
	</div>
</header>
<div class="content style4 feature">
	<div class="container small">
		<div class="row">
			<div class="12u">
				<div align="left">
					<p> It could be one of following issue that prevents us to process your Steam profile. </p>
					<ul class="default">
						<li>Your Steam ID is invalid. Please double check the ID you have typed in</li>
						<li>Your Steam profile is not public. We cannot help you out if everything about you is secrect. Please change your privacy setting to be public.</li>
						<li>You may not have any friends or games in this account. The truth is harsh though.</li>
						<li>Steam server is down. Please try to re-type your Steam ID and check it again.</li>
					</ul>	
				</div>
				<a href="{% url 'recom:recompage' %}" class="button scrolly">Re-type Steam ID</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}